#bottom-screen {
    text-align: center;
    background-color: #1d1d1f;
    color: white;
}

#canv {
    width: 100%;
    height: 100%;
    background-image: url("img/bg.png");
}

#sprites {
    visibility: hidden;
    max-height: 0;
}

.bigtext {
    position: absolute;
    left: 100px;
    top: 90px;
}

#gameover {
    color: red;
}

#prestart {
    color: yellow;

}

#stats > * {
    display: inline-block;
    width: 25%;
}

#stats > * img {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#stats > * span {
    vertical-align: top;
}