h3 {
	text-align: center;
    font-size: 40px;
    margin-top: 0;
}

#input-num {
    width: 120px;
}

#output-num {
    text-align: center;
    font-size: 30px;
}

#disclaimer {
    position: absolute;
    font-size: 15px;
    bottom: 15px;
}

#btn-convert {
    background-color: limegreen;
	border: 2px green solid;
	border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin: 5px auto;
    display: block;
}

#btn-convert:active {
	background: lime;
}

#bottom-screen > div {
    margin-bottom: 5px;
}

#top-screen,
#bottom-screen {
    position: relative;
}
