#screens > * {
    background-color: #121215;
    color: #01c401;
}

#screens > * > * {
    border: 1px #003800 solid;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

#top-screen {
    padding-left: 1%;
    padding-right: 1%;
}

#top-screen > * {
    height: 100%;
}

#terminal {
    height: 100%;
    width: 80%;
    font-size: 60%;
    padding-left: 4px;
}

#numbers {
    font-size: 40%;
    width: 15%;
}

#banner {
    display: block;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

#tiles {
    vertical-align: top;
    width: 70%;
    height: 100%;
    display: inline-block;
    margin-top: 1%;
}

#tiles td {
    background-color: #0f960f;
    width: 10px;
    height: 1px;
}

#radar {
    display: inline-block;
    background-color: #002a00;
    width: 85px;
    height: 85px;
    border: 1px solid green;
    border-radius: 100%;
}

#scan {
    width: 43px;
    height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}