#screens > * {
	background-color: #121215;
	color: #01c401;
}

#screens > * > * {
	border: 1px #003800 solid;
	background-color: black;
	display: inline-block;
	vertical-align: top;
}

#top-screen {
	padding-left: 1%;
	padding-right: 1%;
}

textarea {
	font-family: "Liberation Sans", sans-serif;
}

#banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 97%;
}

#bars {
	color: #01c401;
	display: block;
	font-size: 9px;
	height: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	overflow-y: hidden;
	resize: none;
	width: 90%;
}

#numbers {
	color: #01c401;
	font-size: 6px;
	height: 100%;
	padding: 0;
	resize: none;
	width: 60px;
}

#radar {
	background-color: #002a00;
	border: 1px solid green;
	border-radius: 43px;
	display: inline-block;
	height: 85px;
	width: 85px;
}

#terminal {
	color: #01c401;
	font-size: 9px;
	height: 100%;
	overflow-y: hidden;
	padding-left: 4px;
	resize: none;
	width: 320px;
}

#tiles {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	vertical-align: top;
}

@-webkit-keyframes scanRot {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes scanRot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
#scan {
	-webkit-animation: scanRot 1s infinite linear;
	        animation: scanRot 1s infinite linear;
	display: block;
	height: 85px;
	margin-left: auto;
	margin-right: auto;
	width: 43px;
}