#canv {
    background: #5700ff;
    width: 98%;
    height: 95%;
    margin: 1% 1%;
    border-radius: 10px;
    color: white;
}

#top-screen {
    background: #1f1f21;
}

#bottom-screen {
    background: #2b2b2e;
    color: white;
}

#score > * {
    display: inline-block;
    width: 49%;
    border-radius: 20px;
    text-align: center;
}

#score-player {
    background-color: #0f960f;
}

#score-enemy {
    background-color: #a40000;
}

#level {
    margin-top: 1%;
    text-align: center;
    color: orange;
}

#controls {
    text-align: center;
    margin-top: 20%;
}