#top-screen {
	background-color: #5700ff;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}

#bottom-screen {
	background: #313131;
	color: #fff;
	-webkit-user-select: none;
	user-select: none;
	text-align: center;
}

#text {
	color: #fff;
	font-size: 22.5pt;
	font-weight: bold;
	left: 50%;
	position: absolute;
	text-shadow: 0 0 5px #000;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#canv {
	position: absolute;
}

#line {
	border-left: 6px dashed #d6d6d6;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: translateX( -4px );
	transform: translateX( -4px );
	width: 0;
}

#score {
	text-align: center;
}

#score > * {
	background-color: #4b4d4a;
	border: 2px solid #848284;
	border-radius: 10px;
	display: inline-block;
	font-size: 13pt;
	padding: 15px;
	margin: 20px 5px 5px;
	width: 70px;
}

#score-player {
	color: #04ff00;
}

#score-enemy {
	color: #ffad4a;
}

#controls,
#level {
	margin-top: 30px;
}
