#top-screen {
	background: #1f1f21;
}

#bottom-screen {
	background: #2b2b2e;
	color: white;
}

#field {
	background: #5700ff;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	color: white;
	height: 95%;
	margin: 1.5% 1%;
	left: 0;
	position: relative;
	top: 0;
	width: 98%;
}

#ball {
	background: white;
	height: 4px;
	position: absolute;
	width: 4px;
}

#player,
#enemy {
	background: white;
	height: 43px;
	position:absolute;
	width: 8px;
}

#player {
	left: 18px;
}

#enemy {
	right: 18px;
}

#text {
	font-size: 30px;
	font-weight: bold;
	left: 50%;
	position: absolute;
	text-shadow: 0px 0px 5px #000;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#line {
	border-left: 6px dashed #D6D6D6;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	-webkit-transform: translateX(-4px);
	   -moz-transform: translateX(-4px);
	    -ms-transform: translateX(-4px);
	     -o-transform: translateX(-4px);
	        transform: translateX(-4px);
	width: 8px;
}

#score {
	text-align: center;
}

#score > * {
	background-color: #bdbdbd;
	border: 2px solid black;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	display: inline-block;
	font-size: 120%;
	padding: 5%;
	margin: 5% 2% 2%;
	text-align: center;
	width: 20%;
}

#score-player {
	color: #0f960f;
}

#score-enemy {
	color: #a40000;
}

#level {
	color: orange;
	margin-top: 1%;
	text-align: center;
}

#controls {
	margin-top: 20%;
	text-align: center;
}
