@-webkit-keyframes backgroundAnimation {
	from {
		background-position-y: 0;
	}

	to {
		background-position-y: 64px;
	}
}

@keyframes backgroundAnimation {
	from {
		background-position-y: 0;
	}

	to {
		background-position-y: 64px;
	}
}

@-webkit-keyframes rotorAnimation {
	from {
		-webkit-transform: rotate( 0deg );
	}

	to {
		-webkit-transform: rotate( 360deg );
	}
}

@keyframes rotorAnimation {
	from {
		transform: rotate( 0deg );
	}

	to {
		transform: rotate( 360deg );
	}
}

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

#screen {
	-webkit-animation: backgroundAnimation 0.5s infinite linear;
	animation: backgroundAnimation 0.5s infinite linear;
	background-color: #86cde1;
	background-image: url( img/background.png );
	height: 457px;
	margin: 0;
	margin-left: 40px;
	overflow: hidden;
	padding: 0;
	top: 10px;
	width: 320px;
}

#target {
	background-image: url( img/jet.png );
	background-repeat: no-repeat;
	background-size: cover;
	height: 52px;
	left: 140px;
	top: 335px;
	width: 53px;
}

#barleft,
#barright {
	background: #484d56;
	height: 217px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 10px;
	width: 38px;
}

#barright {
	margin-left: 362px;
}

#lifebar {
	background-color: #f00;
	border: 3px solid #000;
	border-radius: 5px;
	height: 195px;
	margin-left: 4px;
	margin-top: 8px;
	width: 25px;
}

#lifebar-neg {
	background-color: #8b0000;
}

.heli {
	width: 48px;
	height: 81px;
	-webkit-transition: top 2s, left 2s;
	transition: top 2s, left 2s;
}

.heli .inner {
	background-image: url( img/heli.png );
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	-webkit-transform-origin: 21.5px 31px;
	transform-origin: 21.5px 31px;
	width: 100%;
}

.heli .lifebar {
	background-color: #0f0;
	display: inline-block;
	height: 5px;
	margin-left: -5px;
	position: relative;
	width: 50px;
	z-index: 2;
}

.heli .lifebar-neg {
	background-color: #006a00;
	float: right;
	height: 100%;
	z-index: 2;
}

.rotor {
	-webkit-animation: rotorAnimation 0.5s infinite linear;
	animation: rotorAnimation 0.5s infinite linear;
	background-image: url( img/rotor.png );
	background-size: cover;
	background-repeat: no-repeat;
	height: 80px;
	left: -21px;
	position: absolute;
	top: -5px;
	width: 80px;
}

#skull {
	image-rendering: pixelated;
	margin-left: 2px;
	margin-top: 8px;
	width: 33px;
}

#killCounter {
	color: #fff;
	font-family: 'Liberation Sans', sans-serif;
	font-size: 10.5pt;
	text-align: center;
}

#screen,
#target,
.heli {
	position: absolute;
}

.projectile.jet {
	background: #f00;
}

.projectile {
	background: #000;
	height: 4px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 4px;
}

/* Game over */
#gameover {
	color: #fff;
	margin-top: 20%;
	position: relative;
	text-align: center;
	top: 217px;
}

#gameover h1 {
	color: #f00;
	-webkit-text-stroke: 1px #000;
}

#btn-restart {
	background-color: #800080;
	border: #000;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	padding: 2%;
	width: 30%;
}

/* Overlay */
@-webkit-keyframes overlayFade {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

@keyframes overlayFade {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

#overlay {
	animation: overlayFade 1s 1 linear;
	background-color: #000;
	height: 457px;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	width: 320px;
}
