/* --== Top screen ==-- */
#chat-log {
	overflow-y: scroll;
	height: 100%;
}

#chat-log > * {
	border-left: 3px solid #ffa500;
	padding-left: 5px;
	margin: 5px;
	width: 95%;
}

.message-author {
	background-color: #b9b9ff;
	padding: 0 2px;
	border-radius: 3px;
}

.message-text {
	margin-left: 3px;
}

/* --== Bottom screen ==-- */
#rule-list {
	text-align: left;
	background-color: #fff9a2;
	border-left: 3px solid #ffa500;
	border-right: 3px solid #ffa500;
	border-radius: 10px;
	font-size: 10pt;
	width: 70%;
	margin: 20px auto;
	overflow: scroll;
}

#start-menu {
	text-align: center;
}

#btn-join {
	width: 40%;
	background-color: #5ce600;
	border-radius: 10px;
	border: 1px solid #000;
}

#btn-join:active {
	background-color: #4cbe00;
}

#btn-about {
	display: block;
	margin: 3px auto;
	background: none;
	border: unset;
	text-decoration: underline;
}

#btn-about:active {
	color: #808080;
}