/* Originally made by magiczocker10 */

#top-screen  {
    color: white;
    background-color: #51c045;
    text-align: center;
}

#bottom-screen {
    background-color: #71ff61;
    text-align: center;
}

#top-screen h2 {
    background-color: #3d3d3d;
    padding: 4%;
    width: 60%;
    border: white solid 1px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#stats {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#field {
    border-top: #808080 2px solid;
    border-left: #808080 2px solid;
    border-right: #fff 2px solid;
    border-bottom: #fff 2px solid;
    border-spacing: 0;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#field td {
    background-color: #C0C0C0;
    border-bottom: #808080 2px solid;
    border-left: #fff 2px solid;
    border-right: #808080 2px solid;
    border-top: #fff 2px solid;
    font-weight: bold;
    height: 16px;
    line-height: 1;
    user-select: none;
    width: 16px;
}
#field td:not(.open) {
    color: transparent !important;
    cursor: pointer;
}
#field td.open {
    border: #909090 1px solid;
    height: 18px;
    width: 18px;
}
#field td[data-flag="1"]::before {
    content: 'X';
    height: 18px;
    width: 18px;
}