#board {
	border-collapse: collapse;
	text-align: center;
	font-size: 7.5pt;
}

#board table {
	/* Table with buttons */
	border-collapse: collapse;
	border-spacing: 0;
}

#board table tbody tr td {
	/* Table cell with button */
	padding: 0;
	border: unset;
}

.boardButton {
	/* Button for the board */
	width: 15px;
	height: 15px;
	margin: 0;
	line-height: 15pt;
	display: block;
}

.boardButton[ data-state='unpressed' ] {
	/* Tiles that have had no interaction */
	background-color: #eee;
}

.boardButton[ data-state='pressed' ] {
	/* Tiles that are active */
	background-color: #444;
}

.boardButton[ data-state='flagged' ] {
	/* Tiles that are flagged as not active */
	background-color: #f00;
}

#board table thead tr th {
	/* Top hints */
	vertical-align: bottom;
}

#board table tbody tr th {
	/* Left hints */
	text-align: right;
}

#tutorial {
	font-size: 10.5pt;
	color: #806080;
}

#winMessage {
	position: absolute;
	top: 120px;
	left: 77.245px;
	font-weight: bold;
	font-size: 45pt;
	text-align: center;
	color: #30d020;
}

.LevelTile {
	box-sizing: border-box;
	width: 53px;
	height: 53px;
	border: 2px solid #000;
}

.LevelGroupName {
	text-align: center;
	font-size: 9pt;
	font-weight: bold;
}

.LevelNumber {
	line-height: 24pt;
	text-align: center;
	font-size: 33.75pt;
	font-weight: 600;
}

#levelSelect {
	position: relative;
	box-sizing: border-box;
	width: 320px;
	height: 240px;
}

#levelSelectTable {
	border-collapse: separate;
	border-spacing: 3px 1.5px;
	margin-left: auto;
	margin-right: auto;
}

#LevelFadeTransition {
	width: 320px;
	height: 240px;
	background-color: #000;
	position: absolute;
	bottom: 0;
}

#home {
	position: absolute;
	top: 0;
	right: 0;
}

#bottom-screen,
#top-screen {
	position: relative;
}
