#top-screen,
#bottom-screen {
	background-color: #262626;
	color: #f6f6f6;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	text-align: center;
}

#bottom-screen {
	display: block;
}

#canvas {
	background-image: url("grid.png");
	-webkit-background-size: 20px;
		-moz-background-size: 20px;
			background-size: 20px;
}

#status {
	top: 0;
	position: absolute;
	width: 400px;
	display: none;
	font-size: 30px;
	font-weight: bold;
	line-height: 217px;
	vertical-align: middle;
}
#start {
	background: #c7c7c7;
	border: 4px solid #767676;
	border-radius: 10px;
	color: #262626;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	height: 60px;
	margin-top: 70px;
	width: 120px;
}