#top-screen, #bottom-screen {
    background-color: #e8e3c4;
    text-align: center;
}

#win {
    display: none;
    position:absolute;
    top:297px;
    left: 100px;
    width: 200px;
    background-color: #d0d0d0;
    border-radius: 10px;
    color: red;
}

#grid {
    width: 70%;
    height: 80%;
    margin-top: 5%;
    margin-left: 15%;
    background-color: black;
}

#grid td {
    user-select: none;
    background-color: white;
    width: 30%;
    height: 30%;
    font-size: 270%;
}

#turn-txt {
    border: 1px black solid;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
}