#top-screen,
#bottom-screen {
	background-color: #333;
	color: #f6f6f6;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}

/* Board */
#field {
	background-color: #767676;
	border: 2px solid #767676;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-spacing: 0;
	margin: auto;
	margin-bottom: 10px;
}

#field td {
	background-color: #636163;
	border: 1px solid #848284;
	font-size: 12pt;
	height: 20px;
	line-height: 12pt;
	width: 20px;
}

/* Input arrows */
#input {
	border-spacing: 0;
	margin: auto;
}

#input th {
	border: 1px solid transparent;
	height: 20px;
	line-height: 0;
	width: 20px;
}

/* Player score */
#points {
	top: 88px;
	position: relative;
	font-size: 22.5pt;
	line-height: 30pt;
}

#pointsB,
#pointsR {
	background-color: #636163;
	border: 3px solid #636163;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 40px;
	width: 40px;
	display: inline-block;
}

#pointsB,
.playerB {
	color: #82efff;
}

#pointsR,
.playerR {
	color: #ff0;
}

#pointsB.current {
	border-color: #82efff;
}

#pointsR.current {
	border-color: #ff0;
}