body {
    font-family: "Liberation Sans", sans-serif;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
    background: black;
}

img, canvas { /* Disable antialiasing to match the 3DS which doesn't have antialiasing */
    image-rendering: pixelated;
}

#top-screen {
    background-color: white;
    width: 400px;
    height: 217px;
    overflow: hidden;
}

#bottom-screen {
    background-color: white;
    width: 320px;
    height: 240px;
    margin-left: 39.4667px;
    overflow: hidden;
}

.note {
    color: #808080;
    font-size: 90%;
}
