body {
    font-family: "Liberation Sans", sans-serif;
    padding: 0;
    margin-left: 0;
    margin-top: 10px;
    background: black;
}

img, canvas { /* Disable antialiasing to match the 3DS which doesn't have antialiasing */
    image-rendering: pixelated;
}

article {
    display: block;
}

#screens {
    display: inline-block;
}

#top-screen {
    background-color: white;
    width: 400px;
    height: 217px;
    overflow: hidden;
}

#bottom-screen {
    background-color: white;
    width: 320px;
    height: 240px;
    margin-left: 39.4667px;
    overflow: hidden;
}

.dual-screen {
    position: absolute;
    margin-left: 39.4667px;
    height: 457px;
    width: 320px;
}

/* Use this class when overlaying absolute elements such as .dual-screen */
.abs-overlay {
    position: relative;
    background: none !important; /* Re-use !important to add background */
}

.note {
    color: #808080;
    font-size: 90%;
}

.animated > *:not([data-animated="1"]) {
	display: none;
}