a {
    text-decoration: none;
}

#top-screen {
    color: white;
    background-color: #605288;
    text-align: center;
}

#bottom-screen {
    color: white;
    background-color: #2b2b2e;
}

#bottom-screen a {
    color: rgb(76, 153, 255);
}

#title-zone {
    border-radius: 20px;
    background-color: #4a3c85;
}

#title-zone * {
    margin: 0;
}

#controls {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#controls td:nth-child(2n) {
    color: silver;
}

#tabs {
    border: solid black 2px;
    width: 100%;
    height: 100%;
}

#tabs > * {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

#tabs > *:after {
    content:"";
    height: 50px;
    display: block;
    white-space: pre;
}

#tab-btns button {
    float: left;
    width: 25%;
    color: white;
    border: 1px solid black;
    border-radius: 5%;
    background-color: #653198;
}

.app-list a {
    background-color: #4a3c85;
    border-radius: 3%;
    padding: 1%;
    margin-top: 0.5%;
    display: block;
    overflow: visible;
    text-decoration: none;
}

.app-list .app-text {
    display: inline-block;
    vertical-align: top;
}

.app-list img {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 3px;
}

.app-list p {
    margin: 0;
    color: white;
}

.app-name {
    font-weight: bold;
}
.app-description {
    font-size: 90%;
}

#tab-news article {
    color: black;
    border-top: 5px solid black;
}
#tab-news a {
    color: #3b3bee;
}

#tab-news article h3 {
    color: darkred;
}

#tab-news article > * {
    margin: 0;
    padding: 0;
}

#tab-news article p {
    padding-bottom: 5px;
    padding-top: 5px;
}

#tab-news article {
    margin-top: 1%;
    padding: 2%;
    background-color: #e5e5e5;
    border-radius: 2%;
}

#tab-about {
    font-size: 90%;
}

.social-link img {
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    width: auto;
    height: auto;
}

.social-link a {
    vertical-align: top;
}

.tag {
    display: inline-block;
    text-decoration: none;
    background-color: #688820;
    color: white;
    border: #a7f332 2px solid;
    border-radius: 10px;
    font-size: 70%;
    padding-left: 2%;
    padding-right: 2%;
}