#canv {
    background-color: #86cde1;
    outline: 3px black solid;
}

#top-screen {
    background-color: #484d56;
}

#health-bar-container {
    background-color: red;
    height: 80%;
    width: 4%;
    border: 2px #232323 solid;
    border-radius: 5px;
    margin-left: 2.2%;
    margin-top: 4%;
}

#health-bar-neg {
    background-color: darkred;
    height: 50%;
}

#overlay {
    background-color: black;
}

#gameover {
    margin-top: 20%;
    text-align: center;
    color: white;
}

#gameover h1 {
    color: red;
    -webkit-text-stroke: 1px black;
}

#btn-restart {
    background-color: purple;
    color: white;
    border: black;
    padding: 2%;
    border-radius: 5px;
    width: 30%;
}

#btn-restart:active {
    background-color: #ab30ab;
}