#canv {
    background-color: #86cde1;
    outline: 3px black solid;
}

#top-screen {
    background-color: #484d56;
}

#health-bar-container {
    background-color: red;
    height: 80%;
    width: 4%;
    border: 2px #232323 solid;
    border-radius: 5px;
    margin-left: 2.4%;
    margin-top: 4%;
}

#health-bar-neg {
    background-color: darkred;
    height: 50%;
}