#bottom-screen {
    text-align: center;
}

#canv {
    width: 100%;
    height: 100%;
}

#sprites {
    visibility: hidden;
    max-height: 0;
}

#gameover {
    color: red;
    position: absolute;
    left: 100px;
    top: 70px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}