#bottom-screen {
    text-align: center;
}

#canv {
    width: 100%;
    height: 100%;
    background-image: url("../img/pigeon/bg.png");
}

#sprites {
    visibility: hidden;
    max-height: 0;
}

.bigtext {
    position: absolute;
    left: 100px;
    top: 90px;
}

#gameover {
    color: red;
}

#prestart {
    color: yellow;

}