#qr {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#text {
    width: 90%;
}

#bottom-screen {
    text-align: center;
}

#btn-gen {
    margin-top: 2%;
    height: 15%;
    width: 50%;
    border: 2px green solid;
    border-radius: 5px;
    background-color: limegreen;
}