#top-screen, #bottom-screen {
    background-color: #e8e3c4;
    text-align: center;
}

#win {
    display: none;
    position:absolute;
    top:63.5%;
    left: 9.5%;
    width: 200px;
    background-color: #d0d0d0;
    border-radius: 10px;
    color: red;
}

#grid {
    width: 75%;
    height: 90%;
    margin-top: 3%;
    margin-left: 12%;
    background-color: black;
}

#grid td {
    user-select: none;
    background-color: white;
    width: 30%;
    height: 30%;
    font-size: 300%;
}