#screens > * {
    background-color: #2b2b2e;
    color:white;
}

#formula {
    color: lime;
    background-color: #081c00;
    padding: 1%;
    border-radius: 5px;
    word-break: break-all;
    width: 95%;
    height: 70%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

#result {
    color: #ff0000;
    background-color: #1c0000;
    padding: 2%;
    border-radius: 5px;
    width: 75%;
    height: 8%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


#pads {
    height: 72%;
}

#toolbar {
    text-align: right;
    background-color: #16161a;
    border-radius: 20px;
    height: 10%;
}

#toolbar button {
    vertical-align: top;
    background-color: orange;
    border: 2px #da8d00 solid;
    border-radius: 10px;
    height: 100%;
}

#toolbar button img {
    height: 18px;
}

#numpad {
    background-color: #1c1c1e;
    text-align: center;
    height: 100%;
    width: 50%;
    display: inline-table;
    vertical-align: top;
}

#numpad td, tr {
    height: 25%;
}

#numpad button {
    width: 100%;
    height: 100%;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 20px;
}

#numpad button:active {
    background-color: #9d9d9d;
}

#operations {
    vertical-align: top;
    display: inline-table;
    width: 48%;
    height: 100%;
}

#operations tr, td {
    height: 25%;
    width: 25%;
}

#operations button {
    color: white;
    background-color: #5400d3;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

#operations button:active {
    background-color: #6100ec;
}

footer {
    background-color: #343436;
    height: 18%;
}