#screens > * {
    color: white;
}

#top-screen {
    background-color: #1d1244;
}

#bottom-screen {
    background-color: #2b2b2e;
    text-align: center;
}

#search-bar {
    text-align: center;
    height: 8%;
    background-color: #000b1c;
    padding: 1%;
    width: 90%;
    margin-left: 4%;
    border-radius: 10px;
}

#search-bar > * {
    vertical-align: top;
    height: 100%;
    border-radius: 20px;
    border: none;
}

#input-search {
    font-size: 70%;
    width: 70%;
    padding: 0 2%;
}

#btn-search {
    border: none;
    background-color: #0f960f;
}

#btn-search:active {
    background-color: #00be00;
}

#btn-clear {
    background: none;
    color: white;
}

#btn-search img {
    height: 100%;
}

#bottom-container {
    position: relative;
    padding: 2% 5%;
    height: 80%;
}

#bottom-container > * {
    position: absolute;
    width: 88%;
    height: 80%;
}

#search-results {
    text-align: left;
    background-color: #ffffff;
    padding: 1%;
    overflow-y: scroll;
}

#search-results > * {
    width: 100%;
    background-color: #f5ffcb;
    padding: 1%;
    margin-bottom: 2px;
    border-radius: 3px;
    border: none;
    border-left: 5px orange solid;
}